@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Admin.cshtml";
}

<div class="container-fluid bg-banner">
    <div class="container">
        <h1>Nguyễn Quốc Việt</h1>
        <h1>Hoàng Ngọc Thành Nam</h1>
        <h1>Trần Hữu Ngọc Lâm</h1>
    </div>
</div>