@{
    ViewBag.Title = "SanPham";
    Layout = "~/Views/Shared/Admin.cshtml";
}

@using DOAN_VIETNAMLAM.Models;
@model List<TRANGSUC> 
<h1>Thêm mới</h1>
<div class="container-fluid " style="min-height:800px">
  @foreach (var i in Model)
  {
        <div class="item-sanpham">
        <div class="item-img">
           <img src="../hinhanh/@i.HINHANH"/>
        </div>
            <div class="item-title">
               <div class="item-min-title">
                    <h3>@i.TENTRANGSUC</h3>
               
               </div>
                 <p>@i.GIA VND</p>
               <div class="btn-group">
                   <a href="@Url.Action("Chitiet", new {masp = @i.MATRANGSUC })"><input type="submit" value="Xem thêm"/></a>
               </div>
            </div>
    </div>
  }
</div>