@using DOAN_VIETNAMLAM.Models;
@model List<THELOAI>

<ul class="list-group"> 
    <li class="list-group-item list-group-item-warning" ><a href="#"><b style="color:#333;">THỂ LOẠI</b></a></li>
    @foreach (var i in Model)
    {
        <li class="list-group-item"><a href="@Url.Action("timSPtheoLoai", new {maLoai = @i.MALOAI })" style="color:#333;">@i.TENLOAI</a></li>
    }
</ul>
